.contact-section {
    width: 80%;
    margin: 2rem auto;
    font-size: larger;
    background-color: hsl(249, 34%, 22%);
    padding: 1rem;
    border-radius: 1rem;
}
.contact-heading {
    line-height: 2.5rem;
}
.social-link {
    color: aliceblue;
    display: block;
    line-height: 2rem;
    width: fit-content;
}
h3 {
    text-align: center;
}