.hero {
    margin-top: 3rem;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    flex-basis: 100%;
    align-items: center;
    justify-content: space-between;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: larger;
}

img {
    max-width: 100%;
    display: block;
}

.rounded-img {
    border-radius: 50%;
}

.img-container {
    width: 50%;
    
}