nav {
    position: relative;
    display: block;
    width: 100%;
    height: 3rem;
}

ul {
    width: 50%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 0;
    padding: 1rem;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
    color: hsl(0, 0%, 90%);
}