nav {
    position: relative;
    display: block;
    width: 100%;
    height: 3rem;
    font-size: larger;
}

ul {
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding: 0.75rem;
}

li {
    margin-left: 0.5rem;
    padding: 0;
    list-style: none;
    color: hsl(0, 0%, 90%);
}

.nav-link {
    color: hsl(0, 0%, 90%);
    text-decoration: none;
}
.active {
    color: hsl(0, 75%, 65%);
}

